<div id="sidebar" xmlns="http://www.w3.org/1999/html">
    <header class="la_a>
        <a href="#">Google Api</a>
    </header>
    <div id="li_a">
      <ul>
          <li>
          <li><a href="#">Add book</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#">Aboute</a></li>
          </ul>
    </div>
</div>
<div id="container">
        <div style="display: flex; position: relative; text-align: left; margin-left: 1500px">
           <a href="#">Google Api ----> Books</a>
        </div>
    <div class="container-fluid"> </div>
 </div>